.red{
  height: 50px;
  width: 150px;
  background-color: red;
}

.orange{
  height: 50px;
  width: 150px;
  background-color: orange;
}

.yellow{
  height: 50px;
  width: 150px;
  background-color: yellow;
}

.green{
  height: 50px;
  width: 150px;
  background-color: green;
}

.blue{
  height: 50px;
  width: 150px;
  background-color: blue;
}

.indigo{
  height: 50px;
  width: 150px;
  background-color: indigo;
}

.violet{
  height: 50px;
  width: 150px;
  background-color: violet;
}


.circle{
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}

.square{
  width: 100px;
  height: 100px;
  background: red;
}

.rectangle{
  width: 200px;
  height: 100px;
  background: red;
}
